<!DOCTYPE html>
<html>
  <head>
    <title>Binance Data</title>
  </head>
  <body>
    <h1>幣安U本位合約篩選器</h1>
    <form method="post">
      <label for="num_pairs">要抓24小時成交量最大的幾筆：</label>
      <input type="number" id="num_pairs" name="num_pairs" required />
      <br />

      <label for="interval">想要甚麼時框去比較：</label>
      <select id="interval" name="interval" required>
        <option value="15m">15分鐘</option>
        <option value="1h">1小時</option>
        <option value="4h">4小時</option>
        <option value="1d">1天</option>
      </select>
      <br />

      <label for="ma_25">MA參數一：</label>
      <input type="number" id="ma_25" name="ma_25" required />
      <br />
      <label for="comparison_operator">比較方法：</label>
      <select id="comparison_operator" name="comparison_operator" required>
        <option value="greater">大於</option>
        <option value="less">小於</option>
      </select>
      <br />
      <label for="ma_99">MA參數二：</label>
      <input type="number" id="ma_99" name="ma_99" required />
      <br />

      <button type="submit">篩選</button>
    </form>

    <hr />
    {% if selected_pairs %}
    <h2>篩選結果</h2>
    <ul>
      {% for pair, ma_25, ma_99 in selected_pairs %}
      <li>
        <p>標的：{{ pair }}</p>
        <p>24小時成交量：{{ usdt_contract_volumes[pair] }}</p>
        <p>MA參數一：{{ ma_25 }}</p>
        <p>MA參數二：{{ ma_99 }}</p>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
